In [1]:
import tweepy

# variable untuk mengakses twitter API
ACCESS_TOKEN = 'ACCESS_TOKEN'
ACCESS_SECRET = 'ACCESS_SECRET'
CONSUMER_KEY = 'CONSUMER_KEY'
CONSUMER_SECRET = 'CONSUMER_SECRET'

# akses ke API
def connect_to_twitter_OAuth():
    auth= tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
    auth.set_access_token(ACCESS_TOKEN,ACCESS_SECRET)
    
    api = tweepy.API(auth)
    return api

# membuat objek API
api = connect_to_twitter_OAuth()

In [2]:
# mengakses tweets berdasarkan hastag/keyword kartu prakerja
result1 = []

for tweet in tweepy.Cursor(api.search, q='kartu prakerja').items(2000):
    result1.append(tweet)

    
# mengakses tweets berdasarkan hastag/keyword #kartuprakerja
result2 = []

for tweet in tweepy.Cursor(api.search, q='#kartuprakerja').items(2000):
    result2.append(tweet)

# mengabungkan kedua hasil tweets dalam satu list
results = result1 + result2

In [3]:
import pandas as pd

# mengubah list menjadi dataframe
DataSet = pd.DataFrame()
DataSet['Tweet'] = [tweet.text for tweet in results]

In [4]:
# menampilkan tweets yang bertipe dataframe
DataSet

                                                  Tweet
0     RT @geloraco: Kartu Prakerja Dihentikan, DPR: ...
1     RT @kumparan: Kartu Prakerja yang digadang-gad...
2     RT @korantempo: Sebanyak 89 persen konten pela...
3     RT @kumparan: Kartu Prakerja yang digadang-gad...
4     RT @korantempo: Sebanyak 89 persen konten pela...
...                                                 ...
2350  RT @tempodotco: Ketua Komisi Pemberantasan Kor...
2351  RT @tempodotco: Ketua Komisi Pemberantasan Kor...
2352  Ketua Komisi Pemberantasan Korupsi Firli Bahur...
2353  RT @liberto_handry: @jokowi Ironis yah... di s...
2354  @jokowi Ironis yah... di satu pihak ada yg san...

[2355 rows x 1 columns]

In [5]:
# menyimpan dataset dalam format csv
DataSet.to_csv("Data.csv")